<launch>
  <node pkg="dyret_controller" name="gaitController" type="gaitController" />
  <node pkg="dyret_controller" name="gaitEvaluator" type="gaitEvaluator" />
  <node pkg="dyret_controller" name="inverseKinematicsAdapter" type="inverseKinematicsAdapter" />
  <node pkg="dyret_controller" name="dyret_logger" type="dyret_logger" />

</launch>
